body {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.884);
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#nav {
    background-color: #4f4f4f;
    border: 1px;
    min-height: 70px;
}

.navbar-brand h1 {
    color: rgb(255, 255, 255);
    line-height: .60;
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0 20px 0;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

#nav-list a {
    color: rgb(254, 254, 254);
}

#nav-list a:hover {
    background: rgb(174, 234, 161);
}

.navbar-header button.navbar-toggle,
.icon-bar {
    border: 1px solid rgb(255, 255, 255);
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

#menu-title {
    margin-bottom: 25px;
}

#menu-text {
    padding: 0 20px 0 20px;
}

.text-bg {
    height: auto;
    padding: 20px 40px;
    background-color: #949494;
    overflow: hidden;
}

.nav-colour{
	width: 100%;
	background-color: rgb(157, 96, 96);
	border-bottom: 1px solid black;
	color: black;
	display: block;
}
